<div class="row justify-content-center">
  <div class="col-4">
    <div class="profile-card-4 z-depth-3">
      <div class="card">
        <div class="card-body text-center rounded-top" style="background-color: #fdd9e5 !important;">
          <div class="user-box">
            <img
              src="{{ member.photoUrl || './assets/user.png' }}"
              alt="{{ member.knownAs }}"
            />
          </div>
          <h5 class="mb-1 text-white">{{ member.knownAs }}</h5>
        </div>
        <div class="card-body">
          <ul class="list-group shadow-none">
            <li class="list-group-item">
              <div
                class="mb-2"
                *ngIf="
                  (presenceService.onlineUsers$ | async)?.includes(
                    member.userName
                  )
                "
              >
                <i class="class fa fa-user-circle text-success"></i> Online now
              </div>
  
              <div>
                <strong>Last active:</strong>
                <p>{{ member.lastActive | timeago }}</p>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Location:</strong>
                <p>{{ member.city }}</p>
              </div>
      
              <div>
                <strong>Age:  {{ member.age }}</strong>
                
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Member since:</strong>
                <p>{{ member.created | date : "dd MMM yyyy" }}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn" style="background-color: #fdd9e5 !important;" (click)="addLike(member)"> 
              <i class="fa fa-heart"></i> Follow</button>
            <!-- Messages là heading dưới heading="Messages"-->
            <button (click)="selectTab('Messages')" class="btn" style="background-color: #fdd9e5 !important;">
              <i class="fa fa-envelope"></i>
              Messages
            </button>

            <button (click)="selectTab('Messages')" class="btn" (click)="sendDatingRequest(member)">
              <i class="fa fa-venus-mars"></i>
              Dating
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-6">
    <tabset class="member-tabset" #memberTabs>
      <tab
        heading="About {{ member.knownAs }}"
        (selectTab)="onTabActivated($event)"
      >
        <div class="tab-content p-3">
          <div class="tab-pane active show" id="profile">
            <h5 class="mb-3">User Profile</h5>
            <div class="row">
              <div class="col-md-6">
                <h5 class="mb-3">{{member.knownAs}}</h5>

                <h6>Interests</h6>
                <li *ngFor="let i of member.datingProfile.userInterests" class="badge badge-dark badge-pill" style="margin: 0 5px 5px 0;">
                  {{ i.interestName }}
                </li>

                <hr/>

                <h6>Description</h6>
                <p>{{member.introduction}}</p>
                <hr />
                <table class="table table-hover table-striped">
                  <tbody>
                    <tr>
                      <td>
                        <strong>Gender: {{member.gender | titlecase}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Location: {{member.city}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Age: {{member.age}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Height: {{member.datingProfile.height}}</strong>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <h5 class="mb-3">Looking for</h5>
                <h6>Interests</h6>
                <li *ngFor="let i of member.datingProfile.userInterests" class="badge badge-dark badge-pill" style="margin: 0 5px 5px 0;">
                  {{ i.interestName }}
                </li>
                <hr />
                <table class="table table-hover table-striped">
                  <tbody>
                    <tr>
                      <td>
                        <strong>Age: {{member.datingProfile.datingAgeFrom}} - {{member.datingProfile.datingAgeTo}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Height: </strong>
                        <strong>{{member.datingProfile.height}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Dating object: </strong>
                        <strong>{{member.datingProfile.datingObject}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Where to date: </strong>
                        <strong>{{member.datingProfile.whereToDate}}</strong>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
             
            </div>
          </div>
        </div>
      </tab>

      <tab
        heading="Photos"
        #photoTap="tab"
        (selectTab)="onTabActivated($event)"
      >
        <gallery
          *ngIf="photoTap.active"
          [items]="images"
          class="gallery"
          thumbPosition="left"
        ></gallery>
      </tab>
      
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <app-member-messages [username]="member.userName"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
