
<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <body data-new-gr-c-s-check-loaded="14.1172.0" data-gr-ext-installed="">
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
      <div class="wrapper wrapper--w680">
        <div class="card card-4">
          <div class="card-body">
            <h2 class="title">Registration Form</h2>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Full name</label>
                  <app-text-input
                    [formControl]="$any(registerForm.controls['knownAs'])"
                    [label]="'Nhập tên hiển thị'"
                  >
                  </app-text-input>
                </div>
              </div>
              <div class="col-2">
                <label class="label">Gender</label>
                <div class="input-group">
                  <div class="p-t-10">
                    <label class="radio-container m-r-45"
                      >Male
                      <input
                        type="radio"
                        checked="checked"
                        name="gender"
                        value="male"
                        formControlName="gender"
                      />
                      <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">
                      Female
                      <input
                        type="radio"
                        name="gender"
                        value="female"
                        formControlName="gender"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="">
                  <label class="label">Lives in</label>
                    <mat-form-field
                      appearance="fill"
                      style="height:70px; width: 221px"
                    >
                      <mat-label>City</mat-label>
                      <mat-select formControlName="city">
                        <mat-option
                          *ngFor="let city of citiesInVietnam"
                          [value]="city"
                          >{{ city }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
            
                </div>
              </div>

              
              <div class="col-2 d-flex">
                <div class="row">
                  <label class="label">Height</label>
                <mat-form-field style="width: 100px; height: 70px;">
                  <mat-label>Height</mat-label>
                  <input matInput type="number" min="140" max="190" formControlName="height">
                  <mat-error *ngIf="!isFormValid && (registerForm.get('height')?.hasError('min') || registerForm.get('height')?.hasError('max'))">
                    From Height >= 140 and <= 190
                  </mat-error>
                </mat-form-field>
                </div>
                
                <div class="row">
                  <label class="label">Weight</label>
                  <mat-form-field style="width: 100px; height: 70px;">
                    <mat-label>From Weight</mat-label>
                    <input matInput type="number" min="40" max="100" formControlName="weight">
                    <mat-error *ngIf="!isFormValid && (registerForm.get('weight')?.hasError('min') || registerForm.get('weight')?.hasError('max'))">
                      From Weight >= 40 and <= 100
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">User name</label>
                  <app-text-input
                    [formControl]="$any(registerForm.controls['userName'])"
                    [label]="'Username'"
                  ></app-text-input>
                </div>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Date of birth</label>
                  <span class="material-symbols-outlined">
                    calendar_month
                  </span>
                  <div class="input-group-icon">
                    <app-date-picker
                      [formControl]="$any(registerForm.controls['dateOfBirth'])"
                      [label]="'Sinh nhật'"
                      [maxDate]="maxDate"
                    >
                    </app-date-picker>
                  </div>
                </div>
              </div>
                
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Password</label>
                  <app-text-input
                    [formControl]="$any(registerForm.controls['password'])"
                    [label]="'Password'"
                    [type]="'password'"
                  ></app-text-input>
                </div>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Confirm password</label>
                  <app-text-input
                    [formControl]="
                      $any(registerForm.controls['confirmPassword'])
                    "
                    [label]="'Confirm Password'"
                    [type]="'password'"
                  ></app-text-input>
                  <div class="row" *ngIf="validationErrors">
                    <ul class="text-danger">
                      <li *ngFor="let error of validationErrors">
                        {{ error }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="p-t-15">
              <button
                class="btn btn--radius-2 btn--blue me-2"
                [disabled]="!registerForm.valid"
                type="submit"
              >
                Đăng ký
              </button>

              <button class="btn btn-danger" type="button" (click)="cancel()">
                Hủy bỏ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</form>
