<div class="flip-card mb-4 w-100" *ngIf="member">
  <div class="flip-card-inner w-100" [ngClass]="{'is-flipped': flipped}" (dblclick)="flipCard()">
    <div class="flip-card-front">
      <img
        src="{{ member.photoUrl ||  './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="w-100 h-auto rounded-2"
      />
    </div>
    <div class="flip-card-back d-flex flex-column justify-content-between">
      <div class="text-center ms-1 p-1">
        <div>
          <h6 class="card-title mb-1">
    <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
      <i class="fa fa-user me-2"></i>
    </span>
            {{ member.knownAs }}
          </h6>
        </div>

      </div>
      <div class="text-center ms-1 p-1">
        <div>
          <strong>Age:</strong>
          <span>{{ member.age }}</span>
        </div>
        <div>
          <strong>Height:</strong>
          <span>{{ member.datingProfile.height }}</span>
        </div>
        <div>
          <strong>Where to date:</strong>
          <span>{{ member.datingProfile.whereToDate }}</span>
        </div>

      </div>
      <div class="d-flex justify-content-center p-2">
        <button mat-mini-fab color="warn" routerLink="/members/{{member.userName}}">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-mini-fab color="warn" class="mx-2" (click)="addLike(member)">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab color="warn"
                routerLink="/members/{{member.userName}}"
                [queryParams]="{tab: 'Messages'}">
          <mat-icon>mail</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
