<nav class="navbar navbar-expand-md navbar-light fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand text-info" id="datingLink" routerLink="/" style="font-size: x-large" routerLinkActive="active">DATING</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="User photo" style="border-radius: 50%; width: 40px; height: 40px;cursor: pointer"
             routerLink="/personalpage/{{user.userName}}">
        <a class="dropdown-toggle text-light text-decoration-none ms-2" [matMenuTriggerFor]="menu">Welcome <b>{{user.knownAs}}</b></a>
        <mat-menu xPosition="after" #menu="matMenu">
          <button routerLink="/member/edit" mat-menu-item>
            <i class="fa fa-edit"> </i>
            <span> Edit profile</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <i class="fa fa-sign-out"></i>
            <span> Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
