.dropdown-toggle, .dropdown-item{
      cursor: pointer;
}

img{
      max-width: 50px;
      border: 2px solid white;
      display: inline;
}

#datingLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffa602 !important;
  transition: color 0.3s ease;
}

#datingLink:hover {
  color: #fde3fc !important;
  transition: transform 0.5s linear;
}

#datingLink.active {
  font-weight: bold;
}
