<div class="plr-1 mt-1">
  <div style="margin-bottom: 16px" class="ps-3">
    <strong style="font-size: 24px">Thảo luận</strong>
  </div>

  <div *ngIf="userId; else login" class="mx-2"
      style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;border-radius: 4px;">
      <div style="display: flex; align-items: center;" class="mb-2">
            <img class="rounded-circle " src="{{user.photoUrl || './assets/user.png'}}" alt=""
                  style="width: 36px; height: 36px;"
            >
            <strong class="ps-2">{{user.knownAs}}</strong>
      </div>
      <div style="font-size: 14px;">
            <ckeditor style="max-height: 650px; overflow: auto;" [editor]="Editor" [config]="editorConfig"
                  [(ngModel)]="createCommentContent" (change)="onEditorChange($event)" (paste)="onPaste($event)"
            >
            </ckeditor>
      </div>
      <div class="mt">
            <button mat-raised-button color="primary" *ngIf="isCheckCommented()" (click)="sendComment()">Đăng</button>
            <button mat-button *ngIf="isCheckCommented()" (click)="cancelComment()">Hủy</button>
      </div>
  </div>

  <ng-template #login>
      <span class="pr">Đăng nhập để bình luận</span>
      <button mat-raised-button color="primary" (click)="loginUser()">Đăng nhập</button>
  </ng-template>

  <div *ngIf="comments?.length">
      <div *ngFor="let comment of comments" style="font-size: 16px;">
            <div class="mt-3">
                  <div class="mx-2">
                        <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex">
                                    <img class="icon-24"  [src]="comment.userShort?.image || './assets/user.png' " alt=""
                                    style="width: 36px; height: 36px" class="rounded-circle "
                                    >
                                    <strong class="ps-1">{{comment.userShort?.fullName}}</strong>
                              </div>
                              <button mat-icon-button [matMenuTriggerFor]="menu" mat-icon-button class="btn-icon-small ms-auto" style="right: 16px;">
                                    <span class="material-symbols-outlined">
                                          more_horiz
                                          </span>
                              </button>

                              <div btn-comment>
                                    <mat-menu #menu="matMenu">
                                          <div *ngIf="comment.userShort?.id === userId ">
                                              <button mat-menu-item (click)="editComment(comment.id!)">
                                                  <mat-icon>edit</mat-icon>
                                                  <span>Sửa</span>
                                              </button>
                                              <button mat-menu-item (click)="deleteComment(comment.id!)">
                                                  <mat-icon>delete</mat-icon>
                                                  <span>Xóa</span>
                                              </button>
                                          </div>
                                          <button mat-menu-item (click)="reply(comment.id)">
                                              <mat-icon>edit</mat-icon>
                                              <span>Trả lời</span>
                                          </button>
          
                                      </mat-menu>
                              </div>
                        </div>
                        <div style="left: 32px;" class="cursor-d" matTooltip="{{comment.updatedAt! | timeAgo}}"
                              matTooltipPosition="right"
                        >{{comment.updatedAt ?? comment.createdAt | timeAgo}}</div>
                  </div>
                  <div [innerHTML]="comment.content" class="content"></div>
            </div>

            <div *ngIf="isCheckEdit(comment.id)"
                  style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;border-radius: 4px;"
            >
                  <div style="display: flex; align-items: center;" class="pb">
                    <strong class="pl">{{user.knownAs}}</strong>
                  </div>

                  <div style="font-size: 14px;">
                        <ckeditor style="max-height: 650px; overflow: auto;" [editor]="Editor" [config]="editorConfig"
                        [(ngModel)]="contentUpdate" (change)="onEditChange($event)" (paste)="onPaste($event)">
                        </ckeditor>
                  </div>

                  <div class="mt">
                        <button mat-raised-button color="primary" *ngIf="isUpdateCommented" (click)="submitEdited()">Cập
                              nhập</button>
                        <button mat-button *ngIf="isCheckEdit(comment.id ?? '')" (click)="cancelEditComment()">Hủy</button>
                  </div>
            </div>
      </div>
  </div>


</div>
