.heart {
  /*margin: auto;*/
  background-color: rgb(210, 20, 51);
  height: 100px;
  width: 100px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart:after {
  background-color: rgb(210, 20, 51);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 50px;
}

.heart:before {
  background-color: rgb(210, 20, 51);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 0px;
}

.heart:hover {
  background-color: #990000;
  animation-duration: 200ms;
  transform: scale(1.3) rotate(-45deg);
}

.heart:hover:before {
  background-color: #990000;
}

.heart:hover:after {
  background-color: #990000;
}

.heart:active {
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.8) rotate(-45deg);
  }
}

@keyframes beat-back {
  50% {
    background: #ffe6f2;
  }
}
