<div *ngIf="postDetail" class="body">
  <mat-card-header>
    <div class="w-100 d-flex justify-content-between">
      <div>
        <mat-card-title>
          <span>
            <a routerLink="/members/{{ postDetail.userShort.fullName }}">
              <img
                src="{{ postDetail.userShort.image || './assets/user.png' }}"
                alt=""
                class="rounded-circle object-fit-cover"
                style="width: 45px; height: 45px"
              />
            </a>
          </span>
          {{ postDetail.userShort.knownAs }}
        </mat-card-title>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="row">
    <p class="col col-12 m-3" style="font-size: 18px;">
      {{ postDetail.content }}
    </p>
    <div class="col col-12 d-flex mb-2">
      <div class="w-100 m-2" *ngFor="let img of postDetail.images">
        <img src="{{ img }}" class="w-100 h-auto rounded" />
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
</div>
