<div class="container mt-3">
  <button mat-mini-fab  color="accent" (click)="openFilterModal()"><i class="fa fa-filter"></i></button>
  <div class="float-end">
    <p>Sort by:
      <mat-button-toggle-group name="sortBy" aria-label="Sort by" [(ngModel)]="orderBy">
        <mat-button-toggle value="lastActive"><i *ngIf="orderBy==='lastActive'" class="fa fa-check"></i> Last Active</mat-button-toggle>
        <mat-button-toggle value="created"><i *ngIf="orderBy!='lastActive'" class="fa fa-check"></i> Newest Members</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
</div>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
