<mat-tab-group>
  <mat-tab label="Dashboard" *appHasRole="['Admin']">
      <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab label="Manage user roles"  *appHasRole="['Admin']">
    <ng-template matTabContent>
      <app-customerrole></app-customerrole>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage reports" *appHasRole="['Admin','ManageReport']">
    <ng-template matTabContent>
      <app-managepostreport></app-managepostreport>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage user accounts" *appHasRole="['Admin','ModeratePhotoRole']">
    <ng-template matTabContent>
      <app-moderator></app-moderator>
    </ng-template>
  </mat-tab>
</mat-tab-group>
