.admin-container {
  width: 99%;
  height: 780px;
  margin: 10px;
  border: 1px solid #555;
  /* The background property is added to clearly distinguish the borders between drawer and main
                 content */
  background: #eee;
}

.admin-left {
  width: 240px;
}
