<div class="row my-3 mx-5" *ngIf="member">
  <div class="col-4 text-center">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <!--    <div class="alert alert-info pb-0" *ngIf="editForm.dirty">-->
    <!--      <p>-->
    <!--        <strong>Information: </strong>You have made changes. Any unsaved changes-->
    <!--        will be lost-->
    <!--      </p>-->
    <!--    </div>-->
  </div>

  <div class="col-4 mt-2">
    <div class="card-body">
      <ul class="list-group shadow-none">
        <li class="list-group-item text-center">
          <div class="user-box">
            <img
              src="{{ member.photoUrl || './assets/user.png' }}"
              alt="{{ member.knownAs }}"
            />
          </div>
          <h5 class="mb-1">{{ member.knownAs }}</h5>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Last active: </strong>
            <p>{{ member.lastActive | timeago }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Interests: </strong>
            <li *ngFor="let i of member.datingProfile.userInterests" class="badge badge-dark badge-pill">
              {{ i.interestName }}
            </li>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Age: </strong>
            <p>{{ member.age }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Member since: </strong>
            <p>{{ member.created | date : "dd MMM yyyy" }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="text-center">
            <a
              href="#"
              class="btn-social btn-facebook waves-effect waves-light m-1"
            ><i class="fa fa-facebook"></i
            ></a>
            <a
              href="#"
              class="btn-social btn-google-plus waves-effect waves-light m-1"
            ><i class="fa fa-google-plus"></i
            ></a>
            <a
              href="#"
              class="list-inline-item btn-social btn-behance waves-effect waves-light"
            ><i class="fa fa-behance"></i
            ></a>
            <a
              href="#"
              class="list-inline-item btn-social btn-dribbble waves-effect waves-light"
            ><i class="fa fa-dribbble"></i
            ></a>
          </div>
        </li>
      </ul>
    </div>
  
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About">
        <form [formGroup]="editProfileForm" class="py-2 px-4">
          <div class="row">
            <mat-form-field class="col col-6">
              <mat-label>Height</mat-label>
              <mat-select formControlName="height">
                <div *ngFor="let option of Heights">
                  <mat-option [value]="option.value">{{ option.displayName }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Where to date</mat-label>
              <mat-select formControlName="whereToDate">
                <div *ngFor="let option of WhereToDates">
                  <mat-option [value]="option.value">
                    {{ option.displayName }}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Dating Object</mat-label>
              <mat-select formControlName="datingObject">
                <div *ngFor="let option of genderList">
                  <mat-option [value]="option.key">
                    {{ option.value }}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-chip-grid #chipGrid aria-label="Chọn 1 chủ đề">
                <mat-chip-row *ngFor="let title of ChooseUserInterests" (removed)="removeTopic(title)">
                  {{ title.displayName }}
                  <button matChipRemove [attr.aria-label]="'remove ' + title.displayName">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <mat-label>
                <mat-icon matSuffix>tag</mat-icon>
              </mat-label>
              <input #interestInput placeholder="Search your interest..." [formControl]="interestCtrl"
                     [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTopic($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTopic($event)"
                                formControlName="interests">
                <mat-option *ngFor="let item of filteredInterest | async" [value]="item.displayName">
                  {{ item.displayName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Description</mat-label>
              <textarea formControlName="introduction" matInput rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Looking for</mat-label>
              <textarea formControlName="lookingFor" matInput rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>City</mat-label>
              <input formControlName="city" matInput placeholder="City">
            </mat-form-field>

          </div>
          <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" type="submit" (click)="updateMember()">Save</button>
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
