<div class="row my-3 mx-5" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
      <p>
        <strong>Information: </strong>You have made changes. Any unsaved changes
        will be lost
      </p>
    </div>
  </div>

  <div class="col-4 mt-2">
        <div class="card-body">
          <ul class="list-group shadow-none">
            <li class="list-group-item text-center">
              <div class="user-box">
                <img
                  src="{{ member.photoUrl || './assets/user.png' }}"
                  alt="{{ member.knownAs }}"
                />
              </div>
              <h5 class="mb-1">{{ member.userName }}</h5>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Last active: </strong>
                <p>{{ member.lastActive | timeago }}</p>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Location: </strong>
                <p>{{ member.city }}, {{ member.country }}</p>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Age: </strong>
                <p>{{ member.age }}</p>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <strong>Member since: </strong>
                <p>{{ member.created | date : "dd MMM yyyy" }}</p>
              </div>
            </li>
            <li class="list-group-item">
              <div class="text-center">
                <a
                  href="javascript:void()"
                  class="btn-social btn-facebook waves-effect waves-light m-1"
                ><i class="fa fa-facebook"></i
                ></a>
                <a
                  href="javascript:void()"
                  class="btn-social btn-google-plus waves-effect waves-light m-1"
                ><i class="fa fa-google-plus"></i
                ></a>
                <a
                  href="javascript:void()"
                  class="list-inline-item btn-social btn-behance waves-effect waves-light"
                ><i class="fa fa-behance"></i
                ></a>
                <a
                  href="javascript:void()"
                  class="list-inline-item btn-social btn-dribbble waves-effect waves-light"
                ><i class="fa fa-dribbble"></i
                ></a>
              </div>
            </li>
          </ul>
        </div>
<!--        <div class="card-footer">-->
<!--          <button-->
<!--            type="submit"-->
<!--            form="editForm"-->
<!--            [disabled]="!editForm.dirty"-->
<!--            class="btn btn-success col-12"-->
<!--          >-->
<!--            Save changes-->
<!--          </button>-->
<!--        </div>-->
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <div class="row">
          <div class="col-md-6">
            <h4 class="mt-2">Description</h4>
            <textarea
              name="introduction"
              class="form-control"
              [(ngModel)]="member.introduction"
              rows="4"
            ></textarea>
            <h4 class="mt-2">Looking for</h4>
            <textarea
              name="lookingFor"
              class="form-control"
              [(ngModel)]="member.lookingFor"
              rows="4"
            ></textarea>
            <h4 class="mt-2">Interests</h4>
            <textarea
              name="interests"
              class="form-control"
              [(ngModel)]="member.interests"
              rows="4"
            ></textarea>
          </div>

          <div class="col-md-6">
            <h6>Interests</h6>
            <li *ngFor="let i of member.datingProfile.userInterests" class="badge badge-dark badge-pill">
              {{ i.interestName }}
            </li>
            <hr />
            <table class="table table-hover table-striped">
              <tbody>

              </tbody>
            </table>
          </div>

          <h4 class="mt-2">Location Details:</h4>
          <div class="d-flex flex-row align-items-center">
            <label for="city">City: </label>
            <input
              type="text"
              [(ngModel)]="member.city"
              name="city"
              id="city"
              class="form-control mx-2"
            />

            <label for="country">Country: </label>
            <input
              type="text"
              [(ngModel)]="member.country"
              name="country"
              id="country"
              class="form-control mx-2"
            />
          </div>
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
