<div class="row my-3 mx-5" *ngIf="member">
  <div class="col-4 mt-2">
    <div class="card-body">
      <ul class="list-group shadow-none">
        <li class="list-group-item text-center">
          <div class="user-box">
            <img
              src="{{ member.photoUrl || './assets/user.png' }}"
              alt="{{ member.knownAs }}"
            />
          </div>
          <h5 class="mb-1">{{ member.knownAs }}</h5>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Last active: </strong>
            <p>{{ member.lastActive | timeago }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Interests: </strong>
            <ul>
              <ng-container *ngFor="let interest of member.datingProfile.userInterests">
                <li *ngIf="interest.interestType === 1" class="badge badge-dark badge-pill" style="margin: 0 5px 5px 0;">
                  {{ interest.interestName }}
                </li>
              </ng-container>
            </ul>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Age: </strong>
            <p>{{ member.age }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <strong>Member since: </strong>
            <p>{{ member.created | date : "dd MMM yyyy" }}</p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="text-center">
            <a
              href="#"
              class="btn-social btn-facebook waves-effect waves-light m-1"
            ><i class="fa fa-facebook"></i
            ></a>
            <a
              href="#"
              class="btn-social btn-google-plus waves-effect waves-light m-1"
            ><i class="fa fa-google-plus"></i
            ></a>
            <a
              href="#"
              class="list-inline-item btn-social btn-behance waves-effect waves-light"
            ><i class="fa fa-behance"></i
            ></a>
            <a
              href="#"
              class="list-inline-item btn-social btn-dribbble waves-effect waves-light"
            ><i class="fa fa-dribbble"></i
            ></a>
          </div>
        </li>
      </ul>
    </div>
  
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About">
        <form [formGroup]="editProfileForm" class="py-2 px-4">
          <div class="row">
            <mat-form-field class="col col-2">
              <mat-label>Your Height/Cm</mat-label>
           <input matInput type="number" min="140" max="190" formControlName="height">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>From Height/Cm</mat-label>
              <input matInput type="number" min="140" max="190" formControlName="heightFrom">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>To Height/Cm</mat-label>
              <input matInput type="number" min="140" max="190" formControlName="heightTo">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>Your Weight/Kg</mat-label>
              <input matInput type="number" min="40" max="100" formControlName="weight">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>From Weight/Kg</mat-label>
              <input matInput type="number" min="40" max="100" formControlName="weightFrom">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>To Weight/Kg</mat-label>
              <input matInput type="number" min="40" max="100" formControlName="weightTo">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>Your Age</mat-label>
              <input matInput type="number" min="18" max="100" formControlName="age">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>From Age</mat-label>
              <input matInput type="number" min="18" max="100" formControlName="datingAgeFrom" style="border-radius: 15px;">
            </mat-form-field>

            <mat-form-field class="col col-2">
              <mat-label>To Age</mat-label>
              <input matInput type="number" min="18" max="100" formControlName="datingAgeTo">
            </mat-form-field>

             <mat-form-field class="col col-6" >
              <mat-label>Dating Object</mat-label>
              <mat-select formControlName="datingObject">
                <div *ngFor="let option of genderList">
                  <mat-option [value]="option.key">
                    {{ option.value }}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <br>


            <mat-form-field class="col col-6">
              <mat-label>Your Interests</mat-label>
              <mat-chip-grid #chipGrid1 aria-label="Select a topic">
                <mat-chip-row *ngFor="let title of ChooseUserInterests1" (removed)="removeTopic1(title)">
                  {{ title.displayName }}
                  <button matChipRemove [attr.aria-label]="'remove ' + title.displayName">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <mat-label>
                <mat-icon matSuffix>tag</mat-icon>
              </mat-label>
              <input #interestInput1 placeholder="Search your interest..." [formControl]="interestCtrl1"
                     [matChipInputFor]="chipGrid1" [matAutocomplete]="auto1"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTopic1($event)"/>
              <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedTopic1($event)"
                                formControlName="interests1">
                <mat-option *ngFor="let item of filteredInterest1 | async" [value]="item.displayName">
                  {{ item.displayName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Desired Interests</mat-label>
              <mat-chip-grid #chipGrid2 aria-label="Select a topic">
                <mat-chip-row *ngFor="let title of ChooseUserInterests2" (removed)="removeTopic2(title)">
                  {{ title.displayName }}
                  <button matChipRemove [attr.aria-label]="'remove ' + title.displayName">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <mat-label>
                <mat-icon matSuffix>tag</mat-icon>
              </mat-label>
              <input #interestInput2 placeholder="Search your interest..." [formControl]="interestCtrl2"
                     [matChipInputFor]="chipGrid2" [matAutocomplete]="auto2"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTopic2($event)"/>
              <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedTopic2($event)"
                                formControlName="interests2">
                <mat-option *ngFor="let item of filteredInterest2 | async" [value]="item.displayName">
                  {{ item.displayName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col col-6">
              <mat-label>Your Occupations</mat-label>
              <mat-chip-grid #chipGrid3 aria-label="Select a topic">
                <mat-chip-row *ngFor="let title of ChooseUserOccupations1" (removed)="removeOccupationTopic1(title)">
                  {{ title.displayName }}
                  <button matChipRemove [attr.aria-label]="'remove ' + title.displayName">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <mat-label>
                <mat-icon matSuffix>tag</mat-icon>
              </mat-label>
              <input #occupationInput1 placeholder="Search your occupation..." [formControl]="occupationCtrl1"
                     [matChipInputFor]="chipGrid3" [matAutocomplete]="auto3"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addOccupationTopic1($event)"/>
              <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="selectedTopicOccupation1($event)"
                                formControlName="occupations1">
                <mat-option *ngFor="let item of filteredOccupation1 | async" [value]="item.displayName">
                  {{ item.displayName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field class="col col-6">
              <mat-label>Desired Occupation</mat-label>
              <mat-chip-grid #chipGrid4 aria-label="Select a topic">
                <mat-chip-row *ngFor="let title of ChooseUserOccupations2" (removed)="removeOccupationTopic2(title)">
                  {{ title.displayName }}
                  <button matChipRemove [attr.aria-label]="'remove ' + title.displayName">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <mat-label>
                <mat-icon matSuffix>tag</mat-icon>
              </mat-label>
              <input #occupationInput2 placeholder="Search your occupation..." [formControl]="occupationCtrl2"
                     [matChipInputFor]="chipGrid4" [matAutocomplete]="auto4"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addOccupationTopic2($event)"/>
              <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="selectedTopicOccupation2($event)"
                                formControlName="occupations2">
                <mat-option *ngFor="let item of filteredOccupation2 | async" [value]="item.displayName">
                  {{ item.displayName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
           

            <mat-form-field class="col col-6" style="height: 100px;">
              <mat-label>Description</mat-label>
              <textarea formControlName="introduction" matInput rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="col col-3">
              <mat-label>City</mat-label>
              <input formControlName="city" matInput placeholder="City">
            </mat-form-field>
            
            <mat-form-field class="col col-3" >
              <mat-label>Where to date</mat-label>
              <mat-select formControlName="whereToDate">
                <div *ngFor="let option of WhereToDates">
                  <mat-option [value]="option.value">
                    {{ option.displayName }}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <br>
          </div>
          <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" type="submit" (click)="updateMember()">Save</button>
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
      <tab heading="Profile">
        <app-myprofile [member]="member"></app-myprofile>
      </tab>
    </tabset>
  </div>
</div>
