<div class="w-100">
  <div class="w-100">
    <div class="d-row align-items-center">
      
      <button type="reset" class=" border-top-0 border-start-0 border-end-0 text-start "
              (click)="openCreatePostModal()"
              style="background-color: white;padding: 8px 16px;width: 100%; height: 80px; border: 1px solid #ccc;">
              <img src="{{userShort != undefined && userShort.image != undefined ? userShort.image : './assets/user.png'}}"
           alt=""
           style="width: 60px; height: 60px; object-fit: cover;" class="rounded-circle ">
        What's on your mind, <b>{{ user.knownAs }}</b>
      </button>
      <footer class="panel-footer" style="background-color: white; height: 40px;">
        <button class="btn btn-warning pull-right">Post</button>
        <ul class="nav nav-pills">
            <li class="m-2">
                <a href="#"><i class="fa fa-map-marker"></i></a>
            </li>
            <li class="m-2">
                <a href="#"><i class="fa fa-camera"></i></a>
            </li>
            <li class="m-2">
                <a href="#"><i class=" fa fa-film"></i></a>
            </li>
            <li class="m-2">
                <a href="#"><i class="fa fa-microphone"></i></a>
            </li>
        </ul>
    </footer>
    </div>

    <div class="my-5">
      <!-- Card post -->
      <div *ngFor="let post of posts" class=" my-3 border-bottom">
        <div class="dropdown-menu" *dropdownMenu>
          <div *ngIf="post.userShort.fullName == user.userName; else reportPost">
            <a class="dropdown-item" style="cursor: pointer;" (click)="updatePost(post.id)">Sửa
              bài</a>
            <a class="dropdown-item" style="cursor: pointer;" (click)="deletePost(post.id)">Xóa bài</a>
          </div>
          <ng-template #reportPost>
            <a class="dropdown-item" style="cursor: pointer;" (click)="Report(post.id)">Báo cáo</a>
          </ng-template>
        </div>
        <app-post-card (postChanged)="getPosts()" [post]="post" [user]="user"></app-post-card>
      </div>

    </div>
  </div>
</div>
