<div style="max-width: 620px;" class="mx-auto ">
  <div class="d-flex justify-content-between align-items-center pb-3 border-bottom ">

    <div>
      <div><strong>{{ user.knownAs }}</strong> 's blog</div>
      
    </div>
    <img src="{{user.photoUrl || './assets/user.png'}}" alt="" class="rounded-circle object-fit-cover "
         style="width: 84px; height: 84px;">
  </div>
  <div class="my-5">
    <!-- Card post -->
    <div *ngFor="let post of posts" class=" my-3 border-bottom">
      <app-post-card (postChanged)="getPosts()" [post]="post" [user]="user"></app-post-card>
    </div>

  </div>
</div>
