<mat-tab-group style="width: 500px;">
  <mat-tab label="Unread">
    <app-notification-list (notiClicked)="handleNotiClicked($event)"
                           [notifications]="unreadNotifications"></app-notification-list>
  </mat-tab>
  <mat-tab label="All">
    <ng-template matTabContent>
      <app-notification-list (notiClicked)="handleNotiClicked($event)"
                             [notifications]="allNotifications"></app-notification-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
