<div class="row mx-5 my-3">
  <mat-form-field>
    <mat-label>Find User</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Lisa" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Accounts </th>
        <td mat-cell *matCellDef="let row">
          <img src="{{row.photoUrl || './assets/user.png'}}" alt="User photo" style="border-radius: 50%; width: 40px; height: 40px;">
          {{row.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="lock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Lock Status </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip *ngIf="row.lock" style="background-color: #ef6e6e;">
            Locked
          </mat-chip>
          <mat-chip *ngIf="!row.lock" style="background-color: #88fa45">
            Active
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab color="primary" *ngIf="row.lock" (click)="unlock(row.userName)" matTooltip="Unlock Account">
            <mat-icon>lock_open</mat-icon>
          </button>
          <button mat-mini-fab color="warn" *ngIf="!row.lock" (click)="lock(row.userName)" matTooltip="Lock Account">
            <mat-icon>lock</mat-icon>
          </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

  </div>
</div>


